[submodule "corifeus-utils"]
path=corifeus-utils
url=https://github.com/patrikx3/corifeus-utils
branch=master

[submodule "corifeus-builder"]
path=corifeus-builder
url=https://github.com/patrikx3/corifeus-builder
branch=master

[submodule "corifeus-app-web-pages"]
path=corifeus-app-web-pages
url=https://github.com/patrikx3/corifeus-app-web-pages
branch=master

[submodule "corifeus-app-server-patrikx3"]
path=corifeus-app-server-patrikx3
url=https://github.com/patrikx3/corifeus-app-server-patrikx3
branch=master
