[submodule "corifeus-utils"]
path = corifeus-utils
url = https://github.com/patrikx3/corifeus-utils.git
branch = master

[submodule "corifeus-builder"]
path = corifeus-builder
url = https://github.com/patrikx3/corifeus-builder.git
branch = master

[submodule "corifeus-builder-angular"]
path = corifeus-builder-angular
url = https://github.com/patrikx3/corifeus-builder-angular.git
branch = master

[submodule "corifeus-server"]
path = corifeus-server
url = https://github.com/patrikx3/corifeus-server.git
branch = master

[submodule "corifeus-server-deployer"]
path = corifeus-server-deployer
url = https://github.com/patrikx3/corifeus-server-deployer.git
branch = master

[submodule "corifeus-web"]
path = corifeus-web
url = https://github.com/patrikx3/corifeus-web.git
branch = master

[submodule "corifeus-web-material"]
path = corifeus-web-material
url = https://github.com/patrikx3/corifeus-web-material.git
branch = master

[submodule "corifeus-app-web-pages"]
path = corifeus-app-web-pages
url = https://github.com/patrikx3/corifeus-app-web-pages.git
branch = master

[submodule "corifeus-app-server-patrikx3"]
path = corifeus-app-server-patrikx3
url = https://github.com/patrikx3/corifeus-app-server-patrikx3.git
branch = master
